.footer a {
  color: var(--c-link-normal);
}

.footer a:hover {
  color: var(--c-link-hover);
}

.footer a:active {
  color: var(--c-link-active);
}

.footer a:visited {
  color: var(--c-link-visited);
}
