/* TODO: move to "blog-css" package */
.post {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.post p {
  line-height: 1.625;
}

.post :not(.shiki) code {
  background: var(--c-secondary-background);
  padding: 1px 2px;
  border: thin solid lightgrey;
  border-radius: var(--e-border-radius);
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.post .shiki {
  overflow-x: auto;
  padding: 1rem;
  border-radius: var(--e-border-radius);
  margin-bottom: 2rem;
}

.post figure[data-type="image"] figcaption {
  text-align: center;
}

.post .footnotes-sep {
  display: none;
}

.post .footnotes {
  margin-top: 2.5rem;
}

.post .footnotes-list {
  font-size: var(--t-small);
  padding-inline-start: 3ch;
  padding-inline-end: 3ch;
}

.post__fin {
  font-size: 3rem;
  display: flex;
  justify-content: center;
}

.post__navigation {
  margin-top: auto;
}

.post__details {
  display: flex;
  gap: 1rem;
}

.post__draft {
  background: gold;
  border-radius: var(--e-border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.25rem;
  padding: 0.5rem;
  margin-bottom: 0.75rem;
  border: var(--e-secondary-border);
}
